##Part 1:python variables

In [ ]:
###1. Define what a variable is in Python. Give an example.Answer___A variable is a name that stores a value in memory.
Example:
x = 10

In [1]:
###2. Create 3 variables `x`, `y`, and `z` with integer, float, and string values. Print their types.

x = 5
y = 3.14
z = "Hello"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
###3. Swap the values of two variables without using a third variable.

a = 10
b = 20
a, b = b, a
print(a, b)

20 10

In [3]:
### 4. Assign a single value to multiple variables in one line.

x = y = z = 100
print(x, y, z)

100 100 100

In [5]:
### 5. Assign multiple values to multiple variables in one line.

a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [11]:
### 6. Explain the difference between `=` and `==` with examples.

x = 5   # assignment
print(x == 5)  # comparison → True

True

In [12]:
### 7. Program to calculate the area of a rectangle.

length = 10
breadth = 5
area = length * breadth
print("Area of Rectangle:", area)

Area of Rectangle: 50

In [13]:
### 8. Compute the average of three numbers stored in variables.

a, b, c = 10, 20, 30
average = (a + b + c) / 3
print("Average:", average)

Average: 20.0

In [14]:
### 9. Perform arithmetic operations.

a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)

13
7
30
3.3333333333333335
1
3

In [36]:
### 10. What are constants? Explain with example.Answer___Constants are variables whose values do not change during execution.

PI = 3.14159

In [20]:
### 11. Variable naming rules in Python.

## Correct way

name = "John"
_age = 25
myVar1 = 10

## Incorrect way

1name = "John"  # cannot start with number
my-var = 5      # cannot use special characters like

In [35]:
### 12. Difference between local and global variables. Answer__Local Variable: Declared inside a function and can be accessed only within that function.__Global Variable: Declared outside all functions and can be accessed throughout the program.

x = 10  # global variable
def func():
    y = 5  # local variable
    print(y)
    print(x)
func()

5
10

In [34]:
### 13. Example of dynamic typing.

x = 10
print(type(x))
x = "Python"
print(type(x))

<class 'int'>
<class 'str'>

In [21]:
### 14. Type casting examples.

a = 10
b = float(a)
print(b)

s = "25"
num = int(s)
print(num)

10.0
25

In [22]:
### 15. Program to calculate Simple Interest.

p = 1000
r = 5
t = 2
si = (p * r * t) / 100
print("Simple Interest:", si)

Simple Interest: 100.0

In [33]:
### 16. Print name, age, and course using formatted string.


name = "Saniya"
age = 20
course = "BCA"
print(f"My name is {name}, I am {age} years old, and I study {course}.")

My name is Saniya, I am 20 years old, and I study BCA.

In [25]:
### 17. Swap two numbers using a temporary variable.

a = 5
b = 10
temp = a
a = b
b = temp
print(a, b)

10 5

In [31]:
### 19. Convert temperature from Celsius to Fahrenheit.

c = 37
f = (c * 9/5) + 32
print("Temperature in Fahrenheit:", f)

Temperature in Fahrenheit: 98.6

In [ ]:
### 20. Calculate area and circumference of a circle.

radius = 7
area = 3.14 * radius * radius
circumference = 2 * 3.14 * radius
print("Area:", area)
print("Circumference:", circumference)

In [30]:
### 21. Concatenate integer and string using type conversion.

name = "Saniya"
age = 20
print(name + " is " + str(age) + " years old.")

Saniya is 20 years old.

In [ ]:
### 22. What happens if you use an undefined variable?

You get a `NameError`.

print(x)  # Error: x is not defined

In [ ]:
### 23. Program to calculate perimeter of a triangle.


a, b, c = 3, 4, 5
perimeter = a + b + c
print("Perimeter of triangle:", perimeter)

In [29]:
### 24. Calculate total and percentage of 5 subjects.


s1, s2, s3, s4, s5 = 80, 70, 90, 85, 75
total = s1 + s2 + s3 + s4 + s5
percentage = (total / 500) * 100
print("Total:", total)
print("Percentage:", percentage)

Total: 400
Percentage: 80.0

In [28]:
### 25. Difference between `is` and `==` with examples. Answer__'==' → compares values.'is' → compares memory location (identity).

x = [1, 2, 3]
y = [1, 2, 3]
print(x == y)  # True (same value)
print(x is y)  # False (different memory)

True
False

In [ ]:
### 18. Explain mutable vs immutable objects.

* **Mutable:** can be changed (e.g., list, dict, set).
* **Immutable:** cannot be changed (e.g., int, float, string, tuple).

x = [1, 2, 3]  # mutable
y = "hello"    # immutable

Strings are immutable.